FROM docker.io/nginx:latest
RUN apt update && apt upgrade -y && apt install -y procps && \
    apt autoremove -y && apt clean

# Copia los archivos de app y configuracion de nginx
COPY {{ html_dir }}/index.html /etc/nginx/html/
COPY {{ cert_dir }}/{{ ssl_cert_file }} /etc/nginx/
COPY {{ cert_dir }}/{{ ssl_key_file }} /etc/nginx/
COPY {{ nginx_dir }}/{{ nginx_passwd_file_name }} /etc/nginx/
COPY {{ nginx_dir }}/nginx.conf /etc/nginx/

# Exponer el puerto 443
EXPOSE 443
